<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{% block title %}{% endblock %}</title>
{% block css %}
<link href="style.css" rel="stylesheet" type="text/css" />
{% endblock %}
</head>

<body>
<div id="container">

<div id="main_content_top"></div>

<div id="main_content">

<div class="content">

{% block content %}
{% endblock %}

</div> <!-- closes content -->

{% block menu %}
<!--
<div class="menu">

<div class="menu_title">Main menu</div>
<ul>
<li><a href="#" class="menu_link">About me</a></li>
<li><a href="#" class="menu_link">Contact me</a></li>
</ul>
<div class="menu_title">Sub menu</div>
<ul>
<li><a href="http://www.pikanai.com" class="menu_link">Pikanai</a></li>
</ul>
</div>
-->
{% endblock %}

<div id="clear"></div>

</div>

<div id="main_content_bottom"></div>

<div id="footer"><strong>Copyright &copy; 2013</strong> | <a href="http://ged.msu.edu/">Michigan State University</a> | <b>Design by</b> <a href="http://www.pikanai.com">Pikanai.com</a></div>
</div> <!-- closes main_content -->
</div> <!-- closes container -->
</body>
</html>
