<head><META http-equiv="refresh" content="5;"></head>
<html>
<title>BLAST is running!</title>
<body>
<h1>BLAST is running!</h1>
<p>
This page will automatically reload, and the results will be available here.
<p>
If you get a blank page, hit Reload on your browser.
Results for large datasets can take a minute or so to be returned.
<p>
If you don't get a result within a minute, please either send the URL of this
page to <a href='mailto:ctb@msu.edu'>ctb@msu.edu</a> or look at
<a href='err.txt'>the error page</a> to see what went wrong.
</body>
</html>
